/* vietnamese */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../assets/font/quicksand/v30/6xKtdSZaM9iE8KbpRA_hJFQNcOM.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../font/quicksand/v30/6xKtdSZaM9iE8KbpRA_hJVQNcOM.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../font/quicksand/v30/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../font/quicksand/v30/6xKtdSZaM9iE8KbpRA_hJFQNcOM.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../font/quicksand/v30/6xKtdSZaM9iE8KbpRA_hJVQNcOM.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../font/quicksand/v30/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

		:root {
			font-family: "Quicksand", sans-serif;
		}

		body{
			background-color: #1f1f22;
			color: white;
			margin: 0;
		}

		.contrainer {
			background-color: #000000;
		}

		/* .content-body{
			background : var(--bg-contrainer);
		} */

		.bg-black{
			background-color: #000000;
		} 

		.bg-white{
			background-color: #FFF;
			color: #000;
		} 

		.padding-content {
			padding: 2.5rem 0;
			background : linear-gradient(10deg, rgba(24,24,27,1) 0%, rgba(29,29,32,1) 50%, rgba(38,38,41,1) 100%);
		}

		.padding-content-f {
			padding: 0;
			background : linear-gradient(10deg, rgba(24,24,27,1) 0%, rgba(29,29,32,1) 50%, rgba(38,38,41,1) 100%);
		}

		.content{
			background : linear-gradient(10deg, rgba(24,24,27,1) 0%, rgba(29,29,32,1) 50%, rgba(38,38,41,1) 100%);
		}

		.text-center{
			text-align: center;
		}

		.relative{
			position: relative;
		}

		.absolute{
			position: absolute;
		}

		.z-10{
			z-index: 10;
		}

		.divboxnama{
			position: absolute;
			bottom: -.7rem;
			width: 100%;
			z-index: 10;
			font-size: 2rem;
			/* font-size: 4.5rem; */
			line-height: 1;
			font-weight: 700;
		}

		.divboximg img{
			width: 100%;
			max-width: 490px;
		}

		.divboxbgimg{
			height: 12rem;
			width: 12rem;
			position: absolute;
			margin: auto;
			left: 0;
			right: 0;
		}

		.boxbgimg {
		    background-image: linear-gradient(to top right,#9dc600,#22c55e,#3b82f6);
		    height: 100%;
		    width: 100%;
		    border-radius: 50%;
		}	

		.grid{
			display: grid;
		}

		.grid-2{
			grid-template-columns: repeat(1,minmax(0,1fr));
		}

		.grid-4{
			grid-template-columns: repeat(4,minmax(0,1fr));
		}


		.p-2{
			padding: 0.5rem;
		}

		.p-10{
			padding: 1.5rem;
		}

		.m-0{
			margin: 0;
		}

		.mt-2 {
		    margin-top: 0.5rem;
		}
		.mb-0 {
		    margin-bottom: 0;
		}

		.mb-16 {
		    margin-bottom: 4rem;
		}

		.mx-2{
			margin: .5rem 0;
		}

		.w-full{
			width: 100%;
		}

		.color-accent{
			color: rgb(59 130 246/1);
		}
		p.color-accent{
			color: rgb(212 212 216/1);
		}

		.sc-color-primary{
			color: rgb(212 212 216/1);
		}

		h3 {
		    font-size: 1.875rem;
		    line-height: 2.25rem;
		    font-weight: 700;
		    letter-spacing: -.025em;
			margin-block-start: 0em;
		}

		p {
		    font-size: 1rem;
		    line-height: 1.5rem;
		}

		a{
			text-decoration: none;
			color: #F4F4F4;
		}

		.bg-experience{
			background-image: linear-gradient(to right,#18181b,#27272a);
		}

		.bg-working{
			/* background-image: linear-gradient(to right,#18181b,#202023); */
			/* background-image: linear-gradient(to right,#1f1f22,#1f1f22); */
			padding: 0 1rem;
			padding-bottom: 3.5rem;
		}

		.inline{
			display: inline;
		}

		.flex{
			display: flex;
		}

		.inline-flex{
			display: inline-flex;
		}

		.justify-content-center{
			justify-content: center;
		}

		.justify-content-sb{
			justify-content: space-between;
		}

		.align-items-center{
			align-items: center;
		}

		.button-resume{
			background-color: rgb(255 255 255/1); 
			font-size: 0.875rem;
			line-height: 1.25rem;
			padding: .85rem 1.65rem;
			z-index: 10;
			color: #000;
			font-weight: 600;
		}


		.shadow-button-resume{
			position: absolute;
			background-image: linear-gradient(to right,#cafe00,#dbff51,#22c55e);
			top: .5rem;
			left: .5rem;
			height: 100%;
			width: 100%;
		}

		.flex-direction-column{
			    flex-direction: column;
		}

		.h-4{
			height: 4rem;
		}

		.h-10{
			height: 2rem;
		}

		.h-24{
			height: 6rem;
		}

		.w-4{
			width: 4rem;
		}

		.text-gradient-500{
		    background-image: linear-gradient(to bottom right,#cafe00,#22c55e);
			-webkit-background-clip: text;
		    color: transparent;
		}

		.button-navbar{
			background-image: linear-gradient(to top right,rgb(24 24 27/1),rgb(34 34 34/0));
		}

		.button-navbar.active{
			background-image: linear-gradient(to top right,#22c55e,#cafe00);
			color: #000000;
			font-weight: 700;
		}

		.button-navbar span{
			font-size: .75rem;
			line-height: 1rem;
		}

		.bold{
			font-weight: bold;
		}
		.mt-1{
			margin-top: .25rem;
		}
		.mt-0{
			margin-top: 0;
		}

		.ml-4{
			margin-left: 1rem;
		}

		#bid-work{
			display: contents;
		}

		.mx-auto{
			margin: 0 auto;
		}
		
		.card-navbar{
			height: 4rem; 
			width: 100%; 
			background-image: linear-gradient(to right,#27272a,#27272a); 
			position: fixed; 
			bottom: 0;
			z-index: 11;
		}

		@media (min-width: 332px) {
			.divboxbgimg{
				height: calc(100vw - 8rem);
				width: calc(100vw - 8rem);
			}

			.divboxnama{
				bottom: -1rem;
				font-size: 2.5rem;
			}

			.grid-2 {
				grid-template-columns: repeat(2,minmax(0,1fr));
			}
		
		}

		@media (min-width: 430px) {
			.divboxnama{
				font-size: 3rem;
			}

			.p-10 {
				padding: 2.5rem;
			}

			.p-5 {
				padding: 1.5rem;
			}
		}

		@media (min-width: 500px) {
			.divboxbgimg{
				height: 20rem;
				width: 20rem;
			}

			.divboxnama{
				font-size: 4rem;
			}
		}

		@media (min-width: 700px) {
			.padding-content {
				padding: 2.5rem 2.5rem;
			}
		}

		@media (min-width: 768px) {
			h2 {
				font-size: 2.25rem;
				line-height: 2.5rem;
			}
			p{
				font-size: 1.125rem;
				line-height: 1.175rem;
			}
			.padding-content {
				padding: 2.5rem 2.5rem;
				margin-right: 4rem;
			}
			.padding-content-f{
				margin-right: 4rem;
			}

			.flex-direction-row{
				flex-direction: row;
			}

			.h-auto{
				height: auto !important;
			}

		    .card-navbar{
				right: 0;
				bottom: 8rem;
				height: calc(100vh - 16rem);
				width: 4rem;
		    }

			.grid-4{
				grid-template-columns: repeat(1,minmax(0,1fr));
			}

			.bg-working{
				padding-bottom: 1.5rem;
			}

			.divboxnama{
				font-size: 5rem;
			}

			.button-resume{
				font-size: 1rem;
				line-height: 1.5rem;
				padding: 1rem 1.85rem;
			}

			.divboxbgimg{
				height: 24rem;
				width: 24rem;
				bottom: 0;
			}

			.flex-basis-1{
				flex-basis: 33.33%;
			}

			.flex-basis-2{
				flex-basis: calc(66.66%);
			}

			.about-name{
				font-size: 1.6rem;
				margin-block-end: 0;
			}
			
		}

		@media (min-width: 1024px) {
			.content-body{
				padding: 1rem;
			}

			.card-navbar{
				right: 1rem;
		    }
			.padding-content {
				padding: 5rem;
			}

			.bg-top-black{
				background-color: #000;
				position: fixed;
				top: 0;
				height: 1rem;
				width: 100%;
				z-index: 100;
			}

			.bg-bottom-black{
				background-color: #000;
				position: fixed;
				bottom: 0;
				height: 1rem;
				width: 100%;
				z-index: 100;
			}

		}

		@media (min-width: 1280px) {
			.content-body{
				padding: 2rem;
			}

			.card-navbar{
				right: 2rem;
		    }

			.bg-top-black{
				height: 2rem;
			}

			.bg-bottom-black{
				height: 2rem;
			}
		}
